* {

box-sizing:border-box;

margin:0;

padding:0;

}



body {

font-family:Arial, Helvetica, sans-serif;

background:#ffb6d9;

color:#111827;

line-height:1.6;

overflow-x:hidden;

}



/* HEADER */


header {

background:

linear-gradient(
135deg,
#173b63,
#9d174d
);


color:white;

text-align:center;

padding:60px 20px;

}



header h1 {

font-size:3rem;

margin-bottom:15px;

}



/* SECTIONS */


section {

width:90%;

max-width:1000px;

margin:40px auto;

background:#fff0f7;

padding:35px;

border-radius:20px;

border:3px solid #8b5cf6;


box-shadow:

0 10px 25px rgba(0,0,0,.15);

}



h2 {

color:#111827;

margin-bottom:20px;

}



h3 {

margin-top:20px;

color:#173b63;

}



p {

margin-bottom:15px;

}



ul {

padding-left:25px;

}



li {

margin:10px 0;

}



/* LINKS */


a {

color:#173b63;

font-weight:bold;

}



a:hover {

color:#9d174d;

}



/* ORCHID DECORATIONS */


.orchid {

position:fixed;

font-size:55px;

z-index:0;

cursor:pointer;

animation:float 6s infinite ease-in-out;

}



.orchid-one {

top:10%;

left:5%;

}


.orchid-two {

top:50%;

right:5%;

animation-delay:2s;

}



.orchid-three {

bottom:10%;

left:10%;

animation-delay:4s;

}



@keyframes float {


0% {

transform:translateY(0);

}


50% {

transform:translateY(-25px);

}


100% {

transform:translateY(0);

}


}



/* FOOTER */


footer {

text-align:center;

padding:30px;

background:#173b63;

color:white;

}




@media(max-width:768px){


header h1 {

font-size:2rem;

}



section {

width:95%;

padding:25px;

}


.orchid {

font-size:40px;

}


}
